# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kiit1\Desktop\upgrad\assesment\Capstone Project\Back-End\FoodOrderingAppBackend-STUB\FoodOrderingAppBackend-STUB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
